<!DOCTYPE html>
<html lang="en">
    <body>
        <h2>Login</h2>
        <form method="post" action="/login">
            <div>
                <label>
                    <input type="text" name="username" placeholder="email"/>
                </label>
            </div>
            <div>
                <label>
                    <input type="password" name="password" placeholder="password"/>
                </label>
            </div>
            <button type="submit">Login</button>
        </form>
    </body>
</html>