<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create  Listing</title>
</head>
<body>
  <h2>Create Listing</h2>
  <form method="POST" action="/seller/listings/new">
    <div>
      <label>
        <input type="text" name="title" placeholder="Title" required>
      </label>
    </div>
    <div>
      <label>
        <textarea name="description" placeholder="Description" required></textarea>
      </label>
    </div>
    <div>
      <label>
        <input type="number" step="0.01" name="price" placeholder="Price" required>
      </label>
    </div>
    <div>
      <label>
        <input type="text" name="contactInfo" placeholder="Contact Info" required>
      </label>
    </div>
    <div>
      <button type="submit">Create</button>
    </div>
  </form>
</body>
</html>